/* cards.css
.profile-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .profile-card {
    flex: 1;
    max-width: 300px; 
    border: 1px solid #ccc;
    padding: 10px;
    transition: transform 0.2s;
 
  }
  
  .profile-card:hover {
    transform: scale(1.1);
  }
  
  .profile-card img {
    width: 100%;
    max-width: 100%; 
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-name {
    margin-top: 10px;
  }
   */

   /* cards.css */
.profile-grid {
    display: flex;
    justify-content: space-between; /* Distribute the cards evenly */
    overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
    -ms-overflow-style:none;
    scrollbar-width: none;

  }
  .App::-webkit-scrollbar{
    display:none;
  }
  
  .profile-card {
    max-width: 270px; /* Adjust the max width as needed */
    border: 1px solid #ccc;
    padding: 10px;
    transition: transform 0.2s;
    border-radius: 10px;
    flex: 0 0 auto; /* Prevent cards from growing in size */
  }
  
  .profile-card:hover {
    transform: scale(1.1);
  }
  
  .profile-card img {
    width: 200px;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    /* height: auto; */
    height: 250px;
    border-radius: 10px; /* Apply the same border-radius as the card */
    object-fit: cover;
  }
  
  .profile-name {
    margin-top: 10px;
  }
  